@import '@automattic/jetpack-base-styles/style';

.jp-connection__manage-dialog {
	--spacing-base: 8px;
	margin: auto;
	width: 1200px;
	border-radius: 3px;

	&__content{
		background: var( --jp-white-off );
		padding: 80px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h1 {
			margin: 0;
			font-size: var( --font-title-large );
			font-weight: 700;
			line-height: 1.2;
		}
	}

	// shorthand intentionally not used here for overriding the .reset class
	.jp-connection__manage-dialog__large-text {
		margin-top: calc( var( --spacing-base ) * 3 );
		margin-bottom: calc( var( --spacing-base ) * 4 );
		max-width: 60%;
		font-weight: 600;
		font-size: 1.25rem;
	}

	&__actions{
		background: var( --jp-white );
		margin:0 !important;
		border-top: 1px solid var( --jp-gray );
		max-width: 1200px !important;
		padding: calc( var( --spacing-base ) * 4 ) calc( var( --spacing-base ) * 5 );
		align-items:center;
		position: sticky;
		bottom: 0;
		box-sizing: border-box;
	}

	&__link {
		color: var( --jp-black );

		&:hover {
			color: var( --jp-black );
			text-decoration-thickness: var( --jp-underline-thickness );
		}

		&:focus {
			color: var( --jp-black );
		}
	}

	&__button-wrap button{
		float:right;
	}

	&__action-card {
		background-color: var( --jp-white );
		width: 750px;
		max-width: 100%;
		padding: 1rem 2rem;
		border-radius: 3px;
		box-shadow: 0 0 15px var( --jp-gray-off );
		margin: var( --spacing-base ) auto;
		text-align: left;
		border: none;
		position: relative;

		&__card-headline {
			font-size: var( --font-body );
			font-weight: 600;
			text-decoration: none;
			line-height: calc( var(--spacing-base) * 3 );
		}

		&__icon {
			float:right;
		}

		&.disabled::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 25%;
			border-radius: 3px;
			background: var( --jp-black );
		}

		.transfer, .unlink {
			color:var( --jp-black );
			fill: var( --jp-black );
		}

		.disconnect {
			color: var( --jp-red );
			fill: var( --jp-red );
		}

		.check-users {
			color: var( --jp-black );
			fill: var( --jp-black );
		}

	}

	.components-notice {
		width: 750px;
		max-width: 100%;
		margin: var( --spacing-base ) auto;
		text-align: left;
	}

	.components-modal {

		&__header {
			display: none;
		}

		&__content {
			margin: 0;
			padding:0;
		}
	}
}
