// make use of color studio variables for consistency across products
@forward "@automattic/color-studio/dist/color-variables";
@use "@automattic/color-studio/dist/color-variables" as studio;
@import '../deprecated-color-variables';

// core variables (core _variables.scss)
$base-color: $deprecated-studio-blue-60; // Calypso --color-masterbar-background
$icon-color: studio.$studio-gray-50; // Calypso --color-sidebar-gridicon-fill
$highlight-color: studio.$studio-orange-50; // Calypso --color-accent
$notification-color: studio.$studio-orange-30; // Calypso --color-masterbar-unread-dot-background

// global (core _variables.scss)
$body-background: studio.$studio-gray-0; // Calypso --color-surface-backdrop

// admin menu & admin-bar (core _variables.scss)
$menu-text: studio.$studio-gray-80; // Calypso --color-sidebar-text
$menu-background: studio.$studio-gray-5; // Calypso --color-sidebar-background
$menu-highlight-text: $deprecated-studio-blue-50; // Calypso --color-sidebar-menu-hover-text
$menu-highlight-icon: $deprecated-studio-blue-50;
$menu-highlight-background: studio.$studio-white; // Calypso --color-sidebar-menu-hover-background
$menu-current-text: studio.$studio-white; // Calypso --color-sidebar-menu-selected-text
$menu-current-icon: $menu-current-text;
$menu-current-background: studio.$studio-gray-60; // Calypso --color-sidebar-menu-selected-background
$menu-submenu-text: studio.$studio-white; // Calypso --color-sidebar-submenu-text
$menu-submenu-background: $deprecated-studio-blue-60; // Calypso --color-sidebar-submenu-background
$menu-submenu-focus-text: studio.$studio-orange-30; // Calypso --color-sidebar-submenu-hover-text
$menu-submenu-current-text: studio.$studio-white; // Calypso --color-sidebar-submenu-text
$adminbar-avatar-frame: $deprecated-studio-blue-70;

// masterbar overrides
$masterbar-background: $deprecated-studio-blue-60; // Calypso --color-masterbar-background
$masterbar-highlight-background: $deprecated-studio-blue-70; // Calypso --color-masterbar-item-hover-background
$masterbar-active-background: $deprecated-studio-blue-90; // Calypso --color-masterbar-item-active-background
$masterbar-submenu-background: $deprecated-studio-blue-70;
$masterbar-submenu-background-alt: $deprecated-studio-blue-80;

// nav unification overrides
$nav-unification-sidebar-border: studio.$studio-gray-10; // Calypso --color-sidebar-border
$nav-unification-sidebar-text-alternative: studio.$studio-gray-50; // Calypso --color-sidebar-text-alternative

// Calypso color variables used in e.g. inline help
$color-primary: $deprecated-studio-blue-50; // Calypso --color-primary
$color-primary-dark: $deprecated-studio-blue-70; // Calypso --color-primary-dark
$color-primary-light: $deprecated-studio-blue-30; // Calypso --color-primary-light
$color-surface: studio.$studio-white; // Calypso --color-surface

// Sidebar Nudges
$menu-nudge-background: studio.$studio-white;
$menu-nudge-text-color: studio.$studio-black;
$menu-nudge-cta-background: $highlight-color;
$menu-nudge-cta-color: studio.$studio-white;
$menu-nudge-cta-background-hover: studio.$studio-orange-60;
