// make use of color studio variables for consistency across products
@forward "@automattic/color-studio/dist/color-variables";
@use "@automattic/color-studio/dist/color-variables" as studio;

$color-primary: #04a4cc; // Calypso --color-primary

// Sidebar Nudges
$menu-nudge-background: studio.$studio-white;
$menu-nudge-text-color: studio.$studio-black;
$menu-nudge-cta-background: $color-primary;
$menu-nudge-cta-color: studio.$studio-white;
$menu-nudge-cta-background-hover: studio.$studio-blue-60;
