// make use of color studio variables for consistency across products
@forward "@automattic/color-studio/dist/color-variables";
@use "@automattic/color-studio/dist/color-variables" as studio;

$highlight-color: #a3b745;

// Sidebar Nudges
$menu-nudge-background: studio.$studio-white;
$menu-nudge-text-color: studio.$studio-black;
$menu-nudge-cta-background: $highlight-color;
$menu-nudge-cta-color: studio.$studio-white;
$menu-nudge-cta-background-hover: rgb(100, 125, 0);
