#wpcom_site_preview_widget {
	color: #1e1e1e;
}

#wpcom_site_preview_widget_main {

	.wpcom_site_preview_wrapper {
		background: #f0f0f1;
		margin-bottom: 12px;
		padding: 12px 12px 0;
		border-radius: 4px;
	}

	.wpcom_site_preview {
		display: block;
		max-width: 425px;
		height: 200px;
		overflow: hidden;
		margin: 0 auto;

		iframe {
			max-width: 250%;
			min-height: 375%;
			transform: scale(.4);
			transform-origin: top left;
			translate: 0 -13px;
			width: 250%;
		}
	}

	.wpcom_site_management_widget__header {
		display: flex;
		align-items: center;
		gap: 12px;
	}

	.wpcom_site_management_widget__site-favicon {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 38px;
		height: 38px;
		overflow: hidden;
		font-size: 24px;
		color: #0073aa;
		background-color: #f5f7f7;
		border: 1px solid #eeeeee;
		border-radius: 4px;
		cursor: default;
	}

	.wpcom_site_management_widget__site-favicon img {
		width: 100%;
		height: auto;
	}

	.wpcom_site_management_widget__site-info {
		flex-grow: 1;
		overflow: hidden;
	}

	.wpcom_site_management_widget__site-name {
		font-size: 14px;
		font-weight: 500;
		line-height: 20px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.wpcom_site_management_widget__site-url {
		color: #3a434a;
		font-size: 12px;
		font-weight: 400;
		line-height: 16px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.wpcom_site_management_widget__site-actions {
		flex-shrink: 0;
		display: flex;
		gap: 12px;
	}
}
